@import url(https://fonts.googleapis.com/css?family=Pacifico);

body {
    background-color: rgb(0, 195, 255);
    text-align: center;
    display: flex;
    flex-direction: column;
}
h1, h2 {
    color: blue;
    font-family:'Pacifico';
    font-size:75px;
    margin:5px;
}

#form-input {
    height:35px;
    width:435px;
    font-size: 30px;
    margin-top:10%;
}

#chat-submit {
    height:25px;
}

#chat-log{
    color:black;
    height:105px;
    overflow:scroll;
    /* display: flex;
    flex-direction: column-reverse; */
    /* align-self: center; */
    /* margin:5px;
    padding:2px;
    padding-left:15px; */
    text-align: left;
    width:435px;
    border: solid 2px black;
    position:absolute;
    top:55%;
    left:43%;
    background-color:white;
    overflow-x:auto;
}

.container{
    position:relative;
}