@import url(https://fonts.googleapis.com/css?family=Pacifico);

body {
    background-image: url('windowsBackground.jpg');
    display: flex;
    text-align: center;
    flex-direction: column;
    align-content: center;
}

h1, h2 {
    color: blue !important;
    font-family:'Pacifico' !important;
    font-size:60px !important;
    margin:15px  !important;
    display:flex;
    align-self: center;
    text-align: center;
}
#container {
    /* position:relative; */
    display:flex;
    align-self: center;
    /* align-content: center; */
    flex-direction: column;
    align-items: center;
    width:58.505%;
    max-width: 600px;
    min-height:400px;
    background-color: #edeada;
    border: 2px solid #0f5de6;
    padding-top:0;
    flex-wrap: nowrap;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    overflow:hidden;
}
#aolCornerIcon {
    height:auto;
}

#windowsBar {
    color:#def6ff;
    font-family: Verdana;
    font:10px;
    margin-left: 3px;
    box-shadow: 10px;
}

#chat-log{
    color:black;
    height:150px;
    overflow:scroll;
    text-align: left;
    width:97%;
    border: solid 1px black;
    background-color:white;
    overflow-x:auto;
    margin-top: 5px;
}

#form-input {
    height:auto;
    width:98%;
    font-size: 1%;
    margin:0;
    padding:0;
}

#chat-input {
    width:93%;
    height:100px;
    line-height: 1em;
    padding:0;
    line-height: 1em;
}

#chat-form {

    display: flex;
    flex-direction: column;
    align-items: center;

}

#belowInput {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#aolBox{
    border: 1px solid rgba(0,0,0,.39); 
    float: right;
    margin: 2px;
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 10px;
    height: 50px;
    width: 50px; 
    padding-top: 5px; 
}

input[type=submit] {
    background: transparent;
    height: 90%;
    width: 90%;
    background-size:100% 100%;
}

#aimStrip {
    width:98%;
}

#topBar {
    width: 100%;
    height:25px;
    border: 2px solid #0f5de6;
    margin-bottom: 5px;
    background-color:#0f5de6;
    display: flex;
    align-content: left;
}
#aolCornerIcon {
    height:auto;
}

#menuItems {
    display:flex;
    flex-direction: row;
    clear: both;
    font-family: Verdana;
    font-size: 1%;
    width:100%;

    border-bottom: 1px solid rgba(0,0,0,.39);    
}

#leftItems {
    float: left;
    text-align: left;
    width: 38.5%;
    padding-left:5px;
}

.left {
    float: left;
    margin: 2px;
    text-align: left;
    padding-right:7px;
}

#rightItems {
    float:right;
    text-align: right;
    width: 58.5%;
    padding-right:5px;
}
.right {
    float: right;
    margin: 2px;
    text-align: right;
    /* padding-right:7px; */
}

#getNewMessages{
    display:none;
}

#roomButtons {
    font-size: 10px;
    padding: 10px;
    margin-left: 10px;
    width: 80%;
    display: flex;
    align-items: center;
    align-content: center;
}

#roomButtons button {

    width: 75px;
    padding: 2px;
    white-space: normal; 
    overflow-wrap: normal;
    
}

@media only screen and (max-width: 500px)  {
    #container {

      width: 90%;

    }

    #topBar {
        width: 100%;
        height:50px;
        border: 2px solid #0f5de6;
        margin-bottom: 5px;
        background-color:#0f5de6;
        display: flex;
        align-content: left;
    }

        #roomButtons {
            width: 70%;
        }
    
  }